# Konversi data string ke numerik

Konversi data string ke numerik akan meliputi konversi nilai pada kolom ataupun menyeluruh di dataframeKonver

In [4]:
import pandas as pd

print(pd.__version__)

1.2.4

## Persiapan Dataframe

In [6]:
data = {"col1": ["1","2","3","teks"],"col2":["1","2","3","4"]}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

## Mengecek tipe data antar kolom dan dataframe

In [7]:
df.dtypes

col1    object
col2    object
dtype: object

## Mengubah tipe data kolom

In [8]:
df_x = df.astype({"col1":"int"})

ValueError: invalid literal for int() with base 10: 'teks'

kode error karena ada tipe string "teks" pada kolom col1

In [10]:
df_x = df.astype({"col2":"int"})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

## Mengubah seluruh tipe data entri menjadi numerik

In [11]:
df.apply(pd.to_numeric, errors = "coerce")

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

In [ ]:
nilai yang tidak bisa dikonveri akan menjadi NaN atau dapat dikatakan missing value